<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>workflows</key>
	<array>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>workBooking</string>
				<key>questionNumber</key>
				<integer>-1</integer>
				<key>englishText</key>
				<string>Hello&lt;br&gt;Welcome to our beautiful hotel &lt;br&gt;&lt;strong&gt;&quot;To the Prancing Pony&quot;&lt;/strong&gt;&lt;br&gt;I am your booking assistent and I guide you through the booking process.&lt;br&gt;</string>
				<key>helpText</key>
				<string>No help available at the moment.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string>I&apos;m sorry, but I did not understand you. Please use the words firstname and lastname.&lt;br&gt;</string>
				<key>positiveAnswer</key>
				<string>Hello &lt;strong&gt;&lt;firstName&gt;&lt;/strong&gt; &lt;strong&gt;&lt;lastName&gt;&lt;/strong&gt;. Welcome to our hotel. &lt;br&gt;</string>
				<key>checkAttributename</key>
				<string>guest.firstname</string>
				<key>questionNumber</key>
				<integer>0</integer>
				<key>englishText</key>
				<string>Please give me your firstname and lastname&lt;br&gt;or your email address when you have already been a guest at our hotel.</string>
				<key>helpText</key>
				<string>Please use the keywords firstname and lastname for better understanding.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string>I&apos;m sorry, but I did not understand you. Please use the words firstname and lastname.&lt;br&gt;</string>
				<key>positiveAnswer</key>
				<string>Thanks for given me your names&lt;br&gt;</string>
				<key>checkAttributename</key>
				<string>guest</string>
				<key>questionNumber</key>
				<integer>1</integer>
				<key>englishText</key>
				<string>Please name me your firstname and your lastname&lt;br&gt;or your mail address if you don&apos;t stay the first time at our hotel, thanks.&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please use the keywords firstname and lastname or a mail address for better understanding.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>guest.firstname</string>
				<key>questionNumber</key>
				<integer>2</integer>
				<key>englishText</key>
				<string>Please name me your firstname and your lastname, thanks.&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please use the keywords firstname and lastname for better understanding.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string>Thank you for the dates.&lt;br&gt;</string>
				<key>checkAttributename</key>
				<string>startDate</string>
				<key>questionNumber</key>
				<integer>3</integer>
				<key>englishText</key>
				<string>From when to when would you like to stay?&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please use the date format yyyy-mm-dd for better understanding.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>startDate</string>
				<key>questionNumber</key>
				<integer>4</integer>
				<key>englishText</key>
				<string>When will you arrive?&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please give me the arrival date in yyyy-mm-dd format.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>endDate</string>
				<key>questionNumber</key>
				<integer>5</integer>
				<key>englishText</key>
				<string>When will you leave?&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please give me the departure date in yyyy-mm-dd format.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>numberOfGuests</string>
				<key>questionNumber</key>
				<integer>6</integer>
				<key>englishText</key>
				<string>How many persons want to stay with you?&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please use numbers instead of words.</string>
				<key>checkFunction</key>
				<string>&gt;</string>
				<key>checkValue</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string>We have noticed without children.&lt;br&gt;</string>
				<key>checkAttributename</key>
				<string>numberOfChildren</string>
				<key>questionNumber</key>
				<integer>7</integer>
				<key>englishText</key>
				<string>How many children are with you?&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please use numbers instead of words with the keyword children.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>breakfast</string>
				<key>questionNumber</key>
				<integer>8</integer>
				<key>englishText</key>
				<string>Do you like to have breakfast in the mornings?&lt;br&gt;</string>
				<key>helpText</key>
				<string>I can understand positive and negative breakfast sentences.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>guestType</string>
				<key>questionNumber</key>
				<integer>9</integer>
				<key>englishText</key>
				<string>Is this a private or business visit?&lt;br&gt;</string>
				<key>helpText</key>
				<string>I can understand business or private stays.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>paymentMethod</string>
				<key>questionNumber</key>
				<integer>10</integer>
				<key>englishText</key>
				<string>How do you like to pay (credit card or cash)?&lt;br&gt;</string>
				<key>helpText</key>
				<string>I can understand the keywords credit card and cash.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>parkings</string>
				<key>questionNumber</key>
				<integer>11</integer>
				<key>englishText</key>
				<string>Do you need a parking place?&lt;br&gt;</string>
				<key>helpText</key>
				<string>I can understand the keyword parking place.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>guest.phonenumber</string>
				<key>questionNumber</key>
				<integer>12</integer>
				<key>englishText</key>
				<string>Please give us your phone number where we can reach you if we have questions.&lt;br&gt;</string>
				<key>helpText</key>
				<string>Phone numbers are not a problem.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string>I&apos;m sorry but I could not find you in our System. Please give us your names. Thanks.&lt;br&gt;</string>
				<key>checkAttributename</key>
				<string>guest.mailaddress</string>
				<key>questionNumber</key>
				<integer>13</integer>
				<key>englishText</key>
				<string>Please give me your mail address where we can send the confirmation mail.&lt;br&gt;</string>
				<key>helpText</key>
				<string>A valid mail address is helpfull.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>state</string>
				<key>questionNumber</key>
				<integer>14</integer>
				<key>englishText</key>
				<string>The booking is complete.&lt;br&gt;Please verify your values and confirm them with yes, otherwise no.&lt;br&gt;&lt;Booking&gt;&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please use yes or no.</string>
				<key>checkFunction</key>
				<string>contains</string>
				<key>checkValue</key>
				<string>completed, booked</string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string>state</string>
				<key>questionNumber</key>
				<integer>15</integer>
				<key>englishText</key>
				<string>Thank you for your booking. We send you a confirmation mail. Good bye.&lt;br&gt;</string>
				<key>helpText</key>
				<string>You can close the window.</string>
				<key>checkFunction</key>
				<string>!=</string>
				<key>checkValue</key>
				<string>booked</string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>negativeAnswer</key>
				<string></string>
				<key>positiveAnswer</key>
				<string></string>
				<key>checkAttributename</key>
				<string></string>
				<key>questionNumber</key>
				<integer>16</integer>
				<key>englishText</key>
				<string>We are sorry but we did not understand you.&lt;br&gt;</string>
				<key>helpText</key>
				<string>Please use the help hints to get more informations.</string>
				<key>checkFunction</key>
				<string></string>
				<key>checkValue</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>parkingplaces</key>
	<array>
		<dict>
			<key>attributes</key>
			<dict>
				<key>id</key>
				<string>P1</string>
				<key>hasCharger</key>
				<false/>
				<key>price</key>
				<integer>5</integer>
			</dict>
		</dict>
	</array>
	<key>rooms</key>
	<array>
		<dict>
			<key>attributes</key>
			<dict>
				<key>roomNumber</key>
				<integer>101</integer>
				<key>name</key>
				<string>Room 101</string>
				<key>numberOfBeds</key>
				<integer>2</integer>
				<key>price</key>
				<real>39.9</real>
				<key>roomDescription</key>
				<string>A beautiful room on the first floor with view to the stables</string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>roomNumber</key>
				<integer>102</integer>
				<key>name</key>
				<string>Room 102</string>
				<key>numberOfBeds</key>
				<integer>2</integer>
				<key>price</key>
				<real>39.9</real>
				<key>roomDescription</key>
				<string>A beautiful room on the first floor with view to the courtyard</string>
			</dict>
		</dict>
		<dict>
			<key>attributes</key>
			<dict>
				<key>roomNumber</key>
				<integer>201</integer>
				<key>name</key>
				<string>Room 201</string>
				<key>numberOfBeds</key>
				<integer>2</integer>
				<key>price</key>
				<real>599</real>
				<key>roomDescription</key>
				<string>A beautiful room on the second floor with view over the countryside</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
